#detail-wrapper{
    position: fixed;
    width: 42vw;
    height: 75vh;
    top:15vh;
    left:3vw;

    background-color: white;

    z-index: 0;


    box-sizing: border-box;

    padding: 5vh 5vw;
    overflow: scroll;
}

.goback{
    font-size: 2rem;
	position: absolute;
    top: 1vh;
    right: 1vw;
    transition: transform 0.5s;
    z-index:200;
}

.goback:hover {
    transform: rotate(90deg);
	cursor: pointer;
}