
.intro-plate{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50vh;
  
    position: fixed; 
    top: 100vh;
    height: 400vh;
    /* margin-left: 25vw;
    margin-right: 25vw; */
    width:40vw;
    color: black;

}

.intro-plate > p{

margin: 1rem auto;
padding: 0 auto;
width: 50vw;

}

.plate-text-year{
    font-family: ITCGaramond; 
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1rem;
}
  
.plate-text-loc{
    margin-bottom: 1rem;
    font-family: ITCGaramond; 
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.2rem;
  
}

.plate-reason{
    max-height: 35vh;
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.plate-reason::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.plate-reason {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}