
#three-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:#f1edeb;
    z-index: 0;
  }
  
  
canvas{
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
}
  
.barchart-wrapper{
    position: sticky;
    top:0;
    left:0;
    z-index: 20;
}

.barchart-wrapper:hover{
    cursor: pointer;
}

  
.sidebar{
    box-sizing: border-box;
    position:absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 5vw;

    position: fixed;

    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch; */
  
    /* background-color: white; */
  }
  
.sidebar-btn{
    
    position: fixed;
    top: 9vh;
    left: 1.2vw;
    
}

  
.filter-wrapper{
    opacity: 0;
    position: fixed;

    height: 75vh;
    left: -50vw;
    top: 15vh;

    z-index: -200;
}

.filter-wrapper--expanded{

    opacity: 1;
    width: 41vw;
    background-color: white;
    left: 4vw;

}
  
.filter-content-wrapper{
    position: relative;
    margin-top: 5vh;
    opacity: 0;
    width: 100%;
    height: 100%;
}
  
.filter-content-wrapper--expanded{
    opacity: 1;
    z-index: 10;
    width: 41vw;
    padding: 5vh 5vw;
}
  
.filter-content-wrapper{

    box-sizing: border-box;
 
}
   

 .filter-content-wrapper > div:hover{
   cursor: pointer;
 
}


.filter--hide{
    opacity: 0;
    z-index: -100;
}

#three-reset-btn{

    font-family: Raw;
    font-size: 1.2rem;

    padding: 0.3vh 0.5vw;
    margin: 2vh 0vw;

    background-color: #efefef;
    color:black;
}

#three-reset-btn:hover{
    color:white ;
    background-color: black;
  
    transition: all 0.5s linear;
  }

