@font-face {
  font-family: gaya;
  src: url(./fonts/GayaTrial-Regular.otf);
}

@font-face {
  font-family: toy;
  src: url(./fonts/ToyTrial-Regular.otf);
}

@font-face {
  font-family: Basteleur;
  src: url(./fonts/Basteleur-Bold.otf);
}

@font-face {
  font-family: Raw;
  src: url(./fonts/Raw-Bold.otf);
}

@font-face {
  font-family: ITCGaramond;
  src: url(./fonts/ITCGaramondStd-BkCond.otf);
}


#landing-page-content, .landing-plate-wrapper {
  display: grid; 
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

}

body{    
  max-width: 100%;
  overflow-x: hidden;
}


p{
  margin: 0;
  padding: 0;
}

.App{
  width: 100vw;
  height: 300vh;
  background-color:#f1edeb;
 
}



.sectionTitle{

  font-family: ITCGaramond; 
  margin-top: 2rem;
  font-size: 3rem;

  text-align: center;
}

.text-left{
  text-align: left;
}
.sectionTitleinPlate{

  display: inline-block;

  font-family: RAW; 
  margin: 2rem auto;

  font-size: 3rem;
  padding: 0.5rem 0.8rem;

  text-align: center;
  color:white;
  background-color: black;
}

#intro-title{
  color: white;
}

.landing-plate-plate{

  font-family: rift,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 4rem;


  padding: 0 1rem;
  margin: 0.5rem 0;
  
  display: inline-block;

  box-sizing: border-box;

  color: #f1edeb;

  z-index: 200;
  
}
/* 
https://css-tricks.com/things-watch-working-css-3d/ */
.landing-plate-wrapper{
  width: 100vw;
  height: 100vh;
  /* transform-style: preserve-3d; */
  transform-origin: top left;
  perspective: 40em;
  position: fixed;
  z-index: 200;
}

#plate-1, #plate-3, #plate-4{
  margin-right: 3%;
}

#plate-2{
  margin-left: 3%;
}

#plate-1{
  
  grid-row: 3;
  grid-column: 3;
  justify-self: end;
  background-color: black;
  transform-origin: top right;
  transform: rotateY(25deg);
  text-shadow: -1px 0px #c6c6c6;
  
}

#plate-2{
  /* position: absolute; */
  grid-row: 5;
  grid-column: 4;
  justify-self: start;
  background-color: #226600;
  transform-origin: top left;
  transform: rotateY(-25deg);
  text-shadow: 1px 0px #c6c6c6;
}

#plate-3{

  grid-row: 7;
  grid-column: 3;
  justify-self: end;
  background-color: #8a5100;
  transform-origin: top right;
  transform: rotateY(25deg);
  text-shadow: -1px 0px #c6c6c6;

}

#plate-4{
  grid-row: 8;
  grid-column: 3;
  justify-self: end;
  background-color: #226600;
  transform-origin: top right;
  transform: rotateY(25deg);
  text-shadow: -1px 0px #c6c6c6;

}

.landing-pole{
  height: 100vh;
  
  /* background-color: #f5e56d; */
  /* background-color: white; */
  grid-row: 1/-1;
  z-index: 10;
  
}

#landing-pole-1{
  width: 1px;
  grid-column:3;
  justify-self: end;

  position: relative;

}

#landing-pole-2{
  width: 1px;
  grid-column:4;
  justify-self: start;
}

#landing-page-wrapper{
  position: absolute;
  top:0;
  left:0;
  z-index: -10;
}

#landing-page-content{
 position:absolute;
 top: 0px;
 left:0px;
 width: 100vw;
 height: 100vh;
}

#landing-page-subtitle{
  width: 100vw;
  height: 100vh;
  position: absolute;
  font-family: ITCGaramond;
  grid-row: 9;
  margin-top: 2rem;
  grid-column: 7;
  font-size: 3rem;

  text-align: left;
  z-index: 10;

 
}

/* font-family: rift,sans-serif;
font-weight: 400;
font-style: normal; */

/* font-family: ivypresto-display,serif;
font-weight: 700;
font-style: normal; */

#landing-page-text{
 width: 40vw;
 height: 50vh;
 /* background-color: white; */
 position:absolute;
 transform: translateY(-100);
 grid-row: 13;
 grid-column: 7;
 z-index: 10;
}

#intro-wrapper{
  position: relative;
  width: 100vw;
  height: 500vh;
  z-index: 0;
}





#intro-bg-rect{
  position: fixed;
  top: 85vh;
  width:100vw;
  height: 110vh;
  background-color: black;
  z-index: 0;
}


#intro-content-0{
  position: relative; 
  top: 130vh;
  height: 50vh;
  width: 100vw;
  opacity: 1;
  color:black;
}

#intro-content-1{
  position: relative; 
  top: 150vh;
  height: 50vh;
  width: 100vw;
  opacity: 1;
  color: white;
  z-index: 10; 
}

.plate-text-year{
  font-family: ITCGaramond; 
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1rem;
}

.plate-text-loc{
  margin-bottom: 1rem;
  font-family: ITCGaramond; 
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1rem;

}

.text-center{
  text-align: left;
  padding:2rem 20%;
}

.intro-plate{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50vh;

  position: fixed; 
  top: 20vh;
  height: 300vh;
  margin-left: 25vw;
  margin-right: 25vw;
  width:50vw;
  color: black;

}

.intro-plate > p{

  margin: 1rem auto;
  padding: 0 auto;
  width: 50vw;

}

#intro-text{
  color:white;
}

#header-wrapper{
  background-color: white;
  position: fixed;
  top:0;
  width: 100vw;
  height: 6vh;
  z-index: 210;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header-words-wrapper{
  margin-left:0.5rem;
  cursor: pointer;
}

.header-words{
  font-family: Raw;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0.2rem;
  color:white
}

#header-m{
background-color: black;
}

#header-a{
  background-color: #226600;
}

#header-t{
  background-color: #8a5100;
}

#header-c{
  background-color: #226600;
}

.header-nav{
  list-style-type: none;
  margin: 0;
  padding-right: 0.5rem;
}

.header-nav > li{
  display: inline;
  padding: 0.5rem;
}

#three-wrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color:#f1edeb;

}


canvas{

  top: 0;
  width: 100%;
  height: 100%;
}


.sidebar{
  box-sizing: border-box;
  position:absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 5vw;
  border: black 1px solid;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  background-color: white;
}

.sidebar--expanded{
  width:50vw;
}

.sidebar-btn{
  
  position:relative;
  top: 10%;
  margin-left: 0.7rem;

}


.filter-wrapper--expanded{
  width: 45vw;
  background-color: white;
}

.filter-content-wrapper{
  top: 10vh;
  opacity: 0;
  z-index: -100;
  position: absolute;
  width: 0vw;
}

.filter-content-wrapper--expanded{
  opacity: 1;
  z-index: 10;
  width: 35vw;
}

.filter-content-wrapper{
  font-family: Raw;
 }
 
.filter-content-wrapper > div{
   margin: 1rem
  }
 
.filter-content-wrapper > button{
   margin: 1rem
  }