/* @font-face {
  font-family: gaya;
  src: url(./fonts/GayaTrial-Regular.otf);
}

@font-face {
  font-family: toy;
  src: url(./fonts/ToyTrial-Regular.otf);
}

@font-face {
  font-family: Basteleur;
  src: url(./fonts/Basteleur-Bold.otf);
} */


@font-face {
  font-family: ITC;
  src: url(./fonts/ITCGaramondStd-Lt.otf)
}

@font-face {
  font-family: Raw;
  src: url(./fonts/Raw-Bold.otf);
}

@font-face {
  font-family: ITCGaramond;
  src: url(./fonts/ITCGaramondStd-BkCond.otf);
}




